* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px 80px;
  background: #e3e3e3;
}
.flex {
  display: flex;
}
.flex-vertical-center {
  align-items: center;
}
.flex-horizontal-center {
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.gap-10{
  gap:10px;
}
.section{
  margin-bottom: 30px;
}
.card-type-section{
  background: #fff;
  padding: 50px 10px 10px 30px;
  border-radius: 25px;
}
iframe{
  display: none;
}
